* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&family=Open+Sans:wght@400;600;700&display=swap');

body {
    margin: 0px;
    padding: 0px;
}
/* FONTS */
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-SemiBold.woff2') format('woff2'),
        url('OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.woff2') format('woff2'),
        url('OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.woff2') format('woff2'),
        url('OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('FiraSansCondensed-Bold.woff2') format('woff2'),
        url('FiraSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* SITE-HEADER */

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* SITENAV */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-left: 140px;
    margin-right: 170px;
}

.logo-icon {
    display: flex;
    width: 185px;
    height: 50px;
    margin-right: 114px;
    align-items: center;
    justify-content: center;
}

.logo-icon a {
    margin-left: 16px;
    text-decoration: none;
    font-family: 'Open Sans', monospace;
    color: #222;
}

.logo-icon a:hover {
    color: #DE2E54;
}

.logo-icon:active {
    opacity: 0.6;
}

.navbar-list  {
    display: flex;
    width: 497px;
    height: 21px;
    margin-left: none;
    margin-right: 90px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
    text-transform: uppercase;
}
.navbar-list li {
    list-style: none;
}
.navbar-list li a {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans';
    font-weight: 700;
    transition: 0.15s ease;
}

.navbar-list li a:hover {
    color: #DE2E54;
    transition: 0.15s ease;
}

.navbar-list li a:active {
    opacity: 0.6;
    transition: 0.15s ease;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 189px;
    height: 47px;
    border-radius: 8px;
    background: #DE2E54;
    padding: 12px 24px;
    color: #fff;
    border: 2px solid #DE2E54;
    transition: 0.3s ease;
}

.btn h1 {
    font-family: 'Open Sans';
    font-weight: 4700;
    width: 141px;
    height: 15px;
    line-height: 150%;
    font-size: 12.4px;
    letter-spacing: 1px;      
    text-transform: uppercase;
}

.btn:hover {
    background: #fff;
    color: #DE2E54;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:active {
    background: #DE2E54;
    color: #fff;
    opacity: 0.6;
    transition: 0.3s ease;
    cursor: pointer;
}

/* SITE-HERO */

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 533px;
    background: #0EB4C1;
    margin-top: 24.06px;
}

.hero-content {
    position: absolute;
    width: 500px;
    height: 293px;
    margin: 120px 770px 120px 250px;
}

.hero-content h1 {
    width: 500px;
    height: 86px;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 28.6px;
    line-height: 43.2px;
}

.hero-content p {
    width: 440px;
    height: 108px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #fff;
    line-height: 150%;
    font-size: 18px;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 189px;
    height: 47px;
    border-radius: 8px;
    background: #DE2E54;
    padding: 12px 24px;
    color: #fff;
    border: 2px solid #DE2E54;
    transition: 0.3s ease
}

.hero-btn h1 {
    font-family: 'Open Sans';
    font-weight: 4700;
    width: 141px;
    height: 15px;
    line-height: 150%;
    font-size: 12.4px;
    letter-spacing: 1px;      
    text-transform: uppercase;
}

.hero-btn:hover {
    background: rgba(222, 46, 84, 0.8);
    border: 2px solid rgba(222, 46, 84, 0.8);
    color: #fff;
    transition: 0.3s ease;
    cursor: pointer;
}

.hero-btn:active {
    background: rgba(222, 46, 84, 0.6);
    border: 2px solid rgba(222, 46, 84, 0.6);
}

.hero-img {
    width: 423px;
    height: 504px;
    margin: 29px 170px 0px 847px;
}

/* SITE-SERVICES */

.service-title {
    margin-top: 120px;
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 36px;
    color: #000;
    text-align: center;
    font-family: 'Fira Sans Condensed';
}

.services-list {
    margin: 0px 288px;
    margin-bottom: 60px;
}

.frame {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 80px;
    padding: 0px;
}

.service-list-content {
    margin: 10px 0px 20px 64px;
    padding: 0px;
}

.service-list-content h2 {
    font-family: 'Fira Sans Condensed';
    font-weight: 700;
    font-size: 24px;
    color: #222;
}

.service-list-content {
    font-family: 'Open Sans';
    width: 600px;
    height: 96px;
    font-weight: 400;
    font-style: normal;
    color: #444;
    line-height: 150%;
    font-size: 16px;
}

.herbtn {
    margin: 0px 625px 120px 610px;
}

.herbtn:hover {
    background: #fff;
    color: #DE2E54;
    transition: 0.3s ease;
    cursor: pointer;
}

.herbtn:active {
    background: #DE2E54;
    color: #fff;
    opacity: 0.6;
    transition: 0.3s ease;
    cursor: pointer;
}

/* SITE-REGISTER */

.to-register {
    width: 100%;
    height: 253px;
    background-color: #0EB4C1;
    padding-top: 64px;
}

.to-register .reg-title {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #fff;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 214px;
    height: 42px;
    border-radius: 8px;
    background: #0EB4C1;
    padding: 12px 24px;
    color: #fff;
    border: 2px solid #fff;
    transition: 0.3s ease;
}

.register-btn:hover {
    background: #DE2E54;
    border: 2px solid #DE2E54;
    cursor: pointer;
}

.register-btn:active {
    opacity: 0.6;
}

.register-btn h1{
    font-family: 'Open Sans';
    font-weight: 700;
    width: 141px;
    height: 15px;
    line-height: 120%;
    font-size: 12.5px;
    letter-spacing: 1px;      
    color: #fff;
    text-transform: uppercase;
}

/* SITE-FOOTER */

.site-footer {
    width: 100%;
    height: 97.94px;
    background: #222;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.foter-logo-icon {
    display: flex;
    align-items: center;
    margin-right: 418px;
}

.foter-logo-icon:active {
    color: #DE2E54;
    opacity: 0.6;
}

.foter-logo-icon a {
    text-decoration: none;
    color: #fff;
    margin-left: 16px;
    font-family: 'Open Sans';
}

.foter-logo-icon a:hover {
    color: #DE2E54;
}

.footer-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer-list .navbar-item {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: 14px;
    list-style: none;
}

.footer-list .navbar-item a {
    text-decoration: none;
}

.footer-list .navbar-item a {
    color: #fff;
}

.footer-list .navbar-item a:hover {
    color: #DE2E54;
}

.footer-list .navbar-item a:active {
    color: #fff;
    opacity: 0.6;
}